<!-- ALL HEROES LIST -->

<h2>My Heroes</h2>
  <ul class="heroes">
    <!-- The *ngFor attribute renders an <li> element
      for every item in the heroes property of the associated
      heroes.component.ts file. Since the heroes property
      is an array of Hero items (hero.ts interface custom
      type), one <li> is registered for each Hero in the array.*ngFor

      Within the square braces, we are using CLASS BINDING
      to check if the current <li>'s hero matches the ts file's
        selectedHero property. If it does, a CSS class called
        "selected" is applied. If the hero is NOT the current
        selectedHero, the class is taken off.

      Then, when the <li> is clicked on (bound to the element
        by the (click) event), the single hero associated with
        THAT <li> is passed to the hero.component.ts file method
        "onSelect", which reassigns the class's hero property
        to the clicked hero.

      Finally, the hero id and name are rendered with interpolation binding.-->
    <li *ngFor="let hero of heroes"
          [class.selected]="hero === selectedHero"
          (click)="onSelect(hero)">
      <span class="badge">{{ hero.id }}</span>
      {{ hero.name }}
    </li>
  </ul>

  <!-- Here, we list the hero-detail component as a child component to the
  heroes component. We pass  -->
  <app-hero-detail [hero]="selectedHero"></app-hero-detail>
